{% extends "/home/ahmednaseer/Desktop/django-project/ecommerce/Product/templates/Product/base.html" %}
{% block  content %}
    <h2>{% if object %}Update Product{% else %}Create Product{% endif %}</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
  
      <button type="submit" class="btn btn-primary">{% if object %}Update{% else %}Create{% endif %}</button>
      <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock  %}